<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, enim vitae. Accusamus accusantium amet aspernatur autem culpa distinctio dolore ducimus eaque esse et eum excepturi facilis id incidunt ipsa iusto magni minima minus molestiae, nam odit pariatur placeat quaerat quam quia quidem quos sit soluta sunt velit veritatis voluptas voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, enim vitae. Accusamus accusantium amet aspernatur autem culpa distinctio dolore ducimus eaque esse et eum excepturi facilis id incidunt ipsa iusto magni minima minus molestiae, nam odit pariatur placeat quaerat quam quia quidem quos sit soluta sunt velit veritatis voluptas voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, enim vitae. Accusamus accusantium amet aspernatur autem culpa distinctio dolore ducimus eaque esse et eum excepturi facilis id incidunt ipsa iusto magni minima minus molestiae, nam odit pariatur placeat quaerat quam quia quidem quos sit soluta sunt velit veritatis voluptas voluptatibus.</p>
  </div>
</div>
